<main class="d-flex flex-column align-items-center justify-content-center">
  <div class="border m-4 border-dark">

    <!-- Logo EloGroup -->
    <header class="row m-3">
      <img src="../../assets/img/logo-elogroup-comfundo.png" alt="LogoEloGroup" class="p-0 col-sm-12">
    </header>


    <!-- Formulário de entrada -->
    <div class="row w-100 mx-auto">

      <form [formGroup]="formulario" class="col-sm-12 p-5">

        <section class="form-group mb-4">
          <label for="usuario">Usuário *</label>
          <input [(ngModel)]='novoUsuario.user' type="text" class="form-control" formControlName="usuario">
          <ng-container *ngIf="formulario.controls.usuario.invalid && formulario.controls.usuario.touched" class="">
            <small *ngIf="formulario.controls.usuario.errors?.required" class="text-danger">
              Campo obrigatório.
            </small>

          </ng-container>
        </section>


        <section class="form-group mb-4">

          <label for="senha">Senha *</label>
          <input type="text" name="senha" class="form-item" formControlName="senha" class="form-control">
          <ng-container *ngIf="formulario.controls.senha.invalid && formulario.controls.senha.touched" class="">
            <small *ngIf="formulario.controls.senha.errors?.required" class="text-danger">
              Campo obrigatório.
            </small>
            <small *ngIf="formulario.controls.senha.errors?.minlength || formulario.controls.senha.errors?.pattern" class="text-danger">
              Deve conter pelo menos 8 caracteres; um número, um caractere especial e uma letra.
            </small>
          </ng-container>
        </section>

        <section class="form-group mb-4">

          <label for="confirmSenha">Confirme sua senha *</label>

          <input [(ngModel)]='novoUsuario.senha' type="password" class="form-control" formControlName="confirmSenha" name="confirmSenha">
          <ng-container *ngIf="formulario.controls.confirmSenha.invalid && formulario.controls.confirmSenha.touched">
            <small *ngIf="formulario.controls.confirmSenha.errors?.required" class="text-danger">
              Campo obrigatório.
            </small>
            <small *ngIf="formulario.controls.confirmSenha.errors?.senhasDiferentes" class="text-danger">
              Senhas digitadas não são iguais.
            </small>

          </ng-container>
        </section>



        <button class="btn btn-dark" type="submit" routerLink='/painel' (click)='registrar()' [disabled]="!formulario.valid">Registrar</button>
      </form>
    </div>
  </div>

</main>
