<main class="row m-3">

  <!-- Cabeçalho -->
  <header class="row d-flex align-items-center mb-5">

    <!-- Logo -->
    <img src="../../assets/img/logo-elogroup-comfundo.png" alt="Logo Elogroup" class="col-md-6 col-sm-12 my-3">

    <!-- Título da página -->
    <h1 class="ps-5 col-md-6 col-sm-12"><b>Painel de Leads</b></h1>

  </header>

  <body class="row">
    <div class="row mb-3 mx-2">
      <div>
        <button routerLink='/novolead' class="btn btn-info">Novo Lead (+)</button>
      </div>
    </div>

    <section>
      <table class="table table-secondary table-striped table-bordered">

        <thead>
          <tr>
            <th>Cliente em Potencial</th>
            <th>Dados confirmados</th>
            <th>Reunião Agendada</th>
          </tr>
        </thead>
        <tr>
          <td>Org. Internacionais</td>
        </tr>
        <tbody>

        </tbody>
      </table>
    </section>

  </body>

</main>
